.section {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .main__text {
    position: absolute;
    z-index: 11;
    top: calc(50% - 60px);
    left: calc(50% - 250px);
  }
   .swiper-container {
     height: 100%;
   }
  .swiper-button-prev {
    left: 100px;
  }
  .swiper-button-next {
    right: 100px;
  }
  .swiper-button-next, .swiper-button-prev {
    color: $white;
    opacity: .7;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
  &.is--dark {
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0,0,0,.4);
      position: absolute;
      top: 0;
    }
    .fp-tableCell {
      position: relative;
      z-index: 2;
    }
  }
  .service__title {
    font-size: 2.3rem;
    letter-spacing: 5px;
    font-family: $english;
    font-weight: 900;
  }
  .service__description {
    opacity: .7;
  }
  .service-header {
    color: $white;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12%;
    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 4px;
      height: 100px;
      background: #ffc107;
      display: inline-block;
    }
    &.is--dark {
      color: $black;
    }
    &.is--narrow-next {
      margin-bottom: 6%;
    }
  }
  &.first-section {
    text-align: center;

    .main__text {
      color: $white;
      text-transform: capitalize;
      font-family: $english;

      &--impact {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: $english;

      }
    }

    .main-scroll {
      position: absolute;
      bottom: 4rem;
      width: 100%;
      z-index: 10;
      text-transform: uppercase;
      color: $white;
      font-family: $english;
      letter-spacing: 5px;
      font-size: 0.8rem;
      opacity: 0.9;
      animation: bounce .7s linear infinite alternate;

      &__icon {
        margin-top: 7px;
        text-align: center;
      }
    }
  }

  &.second-section {
    background-image: url("../images/second-section.jpg");
    .service-content__content {
      color: $white;
      .service-content-content__title {
        font-size: 1.4rem;
        //margin-bottom: .5rem;
        display: block;
        font-weight: 600;
        .fas {
          //color: $yellow;
          font-size: 1rem;
        }
      }
    }
    .service-content__description {
      opacity: .8;
    }
  }
  &.fourth-section {
    background-image: url("../images/inquiry-content.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;
  }
  .inquiry-content {
    background: $white;
    padding: 3rem;
    @include shadow;
    height: 561px;
    box-sizing: border-box;
    &__title {
      text-transform: uppercase;
      font-size: 2.3rem;
      font-family: $english;
      font-weight: 900;
      text-align: center;
    }
    &__description {
      color: $lgrey;
      font-size: 0.9rem;
      margin-top: .2rem;
      margin-bottom: 1.2rem;
      text-align: center;
    }
  }
}
@-moz-keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}
@-webkit-keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}
@-o-keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}
@keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}
