.main-slide {
  height: calc(100vh - 111px);
}
.section {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .main__text {
    position: absolute;
    z-index: 11;
    top: calc(50% - 60px);
    left: calc(50% - 297.5px);
    @media all and (max-width: 990px) {
      top: calc(50% - 100px);
      left: 0;
    }
  }
   .swiper-container {
     height: 100%;
   }
  .swiper-button-prev {
    @media all and (min-width: 991px) {
      left: 100px;
    }
    @media all and (max-width: 990px) {
      right: 40px;
    }
  }
  .swiper-button-next {
    @media all and (min-width: 991px) {
      right: 100px;
    }
    @media all and (max-width: 990px) {
      right: 10px;
    }
  }
  .swiper-button-next, .swiper-button-prev {
    color: $white;
    opacity: .7;
    transition: opacity .2s ease-in-out;
    &:hover {
      opacity: 1;
    }
    @media all and (max-width: 990px) {
      left: auto;
      top: calc(100% - 34px);
      &:after {
        font-size: 2rem;
      }
    }
  }
  &.is--dark {
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0,0,0,.4);
      position: absolute;
      top: 0;
    }
    .fp-tableCell {
      position: relative;
      z-index: 2;
    }
  }
  .service__title {
    font-size: 2.3rem;
    letter-spacing: 5px;
    font-family: $english;
    font-weight: 900;
    @media all and (max-width: 990px) {
      font-size: 1.7rem;
    }
  }
  .service__description {
    opacity: .7;
    @media all and (max-width: 990px) {
      display: none;
    }
  }
  .service-header {
    color: $white;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12%;
    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 4px;
      height: 100px;
      background: $blue;
      display: inline-block;
    }
    @media all and (max-width: 990px) {
      padding-left: 2rem;
      &:before {
        height: 60px;
      }
    }
    &.is--dark {
      color: $black;
    }
    &.is--narrow-next {
      margin-bottom: 6%;
    }
  }
  &.first-section {
    text-align: center;

    .main__text {
      color: $white;
      text-transform: capitalize;
      font-family: $english;

      &--impact {
        font-size: 5rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: $english;
        @media all and (max-width: 990px) {
          font-size: 4.5rem;
        }
      }
    }

    .main-scroll {
      position: absolute;
      bottom: 4rem;
      width: 100%;
      z-index: 10;
      text-transform: uppercase;
      color: $white;
      font-family: $english;
      letter-spacing: 5px;
      font-size: 0.8rem;
      opacity: 0.9;
      animation: bounce .7s linear infinite alternate;

      &__icon {
        margin-top: 7px;
        text-align: center;
      }
    }
  }

  &.second-section {
    background-image: url("../images/second-section.jpg");
    .service-content__content {
      color: $black;
      .service-content-content__title {
        font-size: 1.4rem;
        //margin-bottom: .5rem;
        display: block;
        font-weight: 600;
        .fas {
          //color: $blue;
          font-size: 1rem;
        }
      }
    }
    .service-content__description {
      opacity: .8;
      @media all and (max-width: 990px) {
        @include textClamp(3)
      }
    }
  }
  &.inquiry-section {
    background-image: url("../images/inquiry-content.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }
  // 질문
  .inquiry-content {
    background: $white;
    padding: 3rem;
    @include shadow;
    min-height: 500px;
    box-sizing: border-box;
    @media all and (max-width: 990px) {
      padding: 1rem;
      min-height: 400px;
    }
    &__title {
      text-transform: uppercase;
      font-size: 2.3rem;
      font-family: $english;
      font-weight: 900;
      text-align: center;
    }
    &__description {
      color: $lgrey;
      font-size: 0.9rem;
      margin-top: .2rem;
      margin-bottom: 1.2rem;
      text-align: center;
    }
  }
  //contact
  &.contact-section {
    //background-image: url("../images/map-bg.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: auto;
    background-color: $white;
  }
  .contact-info {
    @media all and (min-width: 991px) {
      height: 560px;
    }
    &-content {
      background: $white;
      @include shadow;
      @media all and (min-width: 991px) {
        height: 560px;
        padding: 5rem 3rem;
      }
      padding: 1rem;
      color: $grey;
    }
    &__item {
      &-item {
        margin-bottom: 1rem;
        font-size: 0.85rem;
        margin-top: .4rem;
      }
      .fas {
        display: block;
        margin-top: 2rem;
        margin-bottom: .7rem;
        color: $blue;
        padding-left: 0.2rem;
        @media all and (max-width: 990px) {
          margin-top: 1rem;
        }
      }
    }
  }
}
// 포트폴리오
.portfolio-content {
  &__content {
    position: relative;
    color: $white;
    + .portfolio-content__content + .portfolio-content__content {
      @media all and (max-width: 990px) {
        display: none;
      }
    }
    .portfolio__img {
      object-fit: cover;
      height: 250px;
      width: 100%;
      @media all and (max-width: 990px) {
       height: 180px;
      }
    }
  }
  &-info {
    padding: 0.85rem 1rem;
    right: 0;
    top: 0;
    box-sizing: border-box;
    color: $black;
  }
  &__date {
    font-weight: 400;
    font-size: .8rem;
    font-family: $english;
    opacity: .8;
  }
  &__title {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
.map-area {
  position: relative;
  &:after {
    content: '';
    width: 300px;
    height: 450px;
    position: absolute;
    right: -80px;
    top: -50px;
    display: block;
    background: $blue;
    @media all and (max-width: 990px) {
      content: none;
    }
  }
  .iframe-map {
    position: relative;
    z-index: 1;
    border: 0;
    @media all and (max-width: 990px) {
      height: 300px;
    }
  }
}
.portfolio-section {
  //background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
}
#fp-nav ul li .fp-tooltip {
  color: $black;
}
@-moz-keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}
@-webkit-keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}
@-o-keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}
@keyframes bounce{from{bottom:55px;color:rgba(247,247,247,0.2)}to{bottom:80px;color:#f7f7f7}}

.animation {
  transition: all .4s;
  &.fade {
    opacity: 0;
  }
  &.slideUp {
    transform: translateY(-40px);
    opacity: 0;
    &.animated {
      transform: translateY(0px);
    }
  }
  &.slideLeft {
    transform: translateX(-40px);
    opacity: 0;
    &.animated {
      transform: translateX(0px);
    }
  }
  &.slideRight {
    transform: translateX(40px);
    opacity: 0;
    &.animated {
      transform: translateX(0px);
    }
  }
  &.animated {
    opacity: 1;
  }
  &.delay {
    transition-delay: .4s;
  }
  &.delay6 {
    transition-delay: .6s;
  }
  &.delay9 {
    transition-delay: .9s;
  }
  &.delay12 {
    transition-delay: 1.2s;
  }
}
