//header
.chermoi {
  &-header {
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
    &.is--active {
      padding: 1rem 2rem;
    }
    &__logo {
      color: $black;
      font-size: 1.5rem;
      font-family: $english;
      .logo--emphasis {
        color: $blue;
      }
    }
  }
  &-menu {
    margin-right: 3rem;
    &-list {
      display: flex;
      align-items: center;
    }
    &__item {
      color: $black;
      position: relative;
      margin: 0 .5rem;
      &.active {
        color: $blue;
        &:after {
          //content: '';
          width: 100%;
          height: 2px;
          background: $black;
          display: block;
          position: absolute;
          bottom: 5px;
        }
      }
    }
    &__link {
      padding: .8rem 1.2rem;
      font-size: 1rem;
      display: inline-block;
    }
    @media all and (max-width: 990px) {
      display: none;
      position: fixed;
      right: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $white;
      &-list {
        flex-direction: column;
        height: 100%;
      }
      &__item {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}
