//button

.button {
  background: none;
  border: 1px solid $white;
  padding: 0 18px;
  display: inline-block;
  font-size: 0.9rem;
  height: 36px;
  line-height: 36px;
  &.color--point {
    //background: $yellow;
    color: $yellow;
    border-color: $yellow;
  }
  &.is--mini {
    height: 30px;
    line-height: 30px;
  }
  &.is--rounded {
    border-radius: 28px;
  }
  &--submit {
    background: $grey;
    border: 0;
    color: $white;
    width: 250px;
    height: 45px;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: .9rem;
  }
}
